.estimator-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .estimator-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .form-row {
    flex: 1 1 31%;
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  input,
  select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .design-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #0aa40a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .design-button:hover {
    background-color: #067806;
  }
  

  .result-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .result-container h3 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .result-container p {
    margin: 5px 0;
    font-size: 16px;
  }
  
  .result-grid {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin: 20px auto 0;
  }
  
  .result-item {
    text-align: center;
  }
  
  .result-item span {
    font-size: 18px;
    font-weight: bold;
  }
  
  .result-item p {
    margin-top: 5px;
    font-size: 14px;
    background: #efefef;
    padding: 0 5px;
  }

  .result-item{
    border: 1px solid #f5f5f5;
    border-radius: 6px;
    padding: 12px;
  }

  .estimator-top, .estimator-bottom{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 999px) {
    .form-row {
      flex: 1 1 45%;
      display: flex;
      flex-direction: column;
    }
  }