.home .banner {
    background-image: url("../../assets/images/banner.jpeg");
    height: 400px;
    background-size: cover;
    background-position: center;
    color: #000000;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    font-style: italic;
  }
  .section {
    padding: 20px;
    text-align: center;
  }
  
  .home h1{margin: 0 0 20px;}

 .home .cta{
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }


  