.home-section-3 {
  background: #000000;
  color: #fff;
  text-align: center;
  padding: 100px 250px;
}
.home-section-3 .hs-3-p1{font-size: 30px; margin-bottom: 50px;}
.home-section-3 .hs-3-p2 {font-size: 20px;}